* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: #f9f9f9;
}

/* 顶部 */

header {
  display: flex;
  flex-flow: row;
  top: -1px;
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 3px 3px 5px 0px rgba(220, 220, 220, 0.75);
  color: #ffa500;
  position: fixed;
  z-index: 999;
}

header img {
  width: 45px;
  margin-left: 20px;
}

h1 {
  height: 60px;
  line-height: 60px;
  margin-left: 5px;

}

nav ul {
  position: absolute;
  right: 20px;
  display: flex;
  flex-flow: row;
}

nav li {
  text-align: center;
  width: 100px;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
}

li a {
  text-decoration: none;
  color: black;
}

/* 底部 */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 100px;
}

main {
  background-color: #f9f9f9;
}

h2 {
  font-size: 25px;
  font-weight: 160;
  margin-left: 80px;
}

/* 搜索框 */

.search {
  display: flex;
  flex-flow: row;
  margin-top: 280px;
  margin-bottom: 120px;
  padding: 10px;
  width: 700px;
  height: 40px;
  opacity: 1;
  border-radius: 30px;
  background: white;
  border: 1px solid rgba(200, 200, 200, 1);
  backdrop-filter: blur(30px);
  align-items: center;
  box-shadow: 3px 3px 10px 0px rgba(220, 220, 220, 0.75);
}

.search:hover {
  position: relative;
  bottom: 1px;
  border: 1px solid orange;
  box-shadow: 5px 5px 10px 0px rgba(200, 200, 200, 0.75);
}

#searchText {
  width: 600px;
  height: 40px;
  background: rgba(0, 0, 0, 0);
  outline: none;
  font-size: 20px;
  border: 0px;
  padding-left: 10px;
}

#searchButton {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: orange;
  font-size: 20px;
  font-weight: 500;
}

/* 排行榜 */
.listTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.listTop a {
  text-decoration: none;
}

.top {
  width: 200px;
  height: 300px;
  margin: 40px;
  background-color: orange;
  border-radius: 12px;
  border: 1px solid #f9f9f9;
  box-shadow: 5px 5px 10px 0px rgba(220, 220, 220, 0.8);
}

.top:hover {
  position: relative;
  bottom: 5px;
  box-shadow: 5px 5px 10px 0px rgba(200, 200, 200, 0.8);
}

#img1 {
  background: url(img/top/top1.png);
}

#img2 {
  background: url(img/top/top2.png);
}

#img3 {
  background: url(img/top/top3.png);
}

#img4 {
  background: url(img/top/top4.png);
}

#img5 {
  background: url(img/top/top5.png);
}

.imgBlur {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backdrop-filter: blur(5px);
}

.topText {
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 30px;
  font-weight: bolder;
  color: rgb(255, 255, 255, 0.9);
}

#text2 {
  color: rgb(255, 165, 0, 0.9);
}

#text3 {
  color: rgba(11, 129, 11, 0.9);
}

#text4 {
  color: rgba(242, 60, 40, 0.9);
}

#text5 {
  color: rgba(87, 175, 238, 0.9);
}


/* 网站信息 */

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.weblogo {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: white;
  ;
}

.webname {
  font-size: 25px;
  font-weight: 350;
  text-decoration: none;
  line-height: 40px;
  color: black;
  margin-left: 10px;
}

.webcard {
  display: flex;
  width: 200px;
  height: 40px;
  /* border: 1px solid gray; */
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #f9f9f9;
  box-shadow: 3px 3px 10px 0px rgba(220, 220, 220, 0.75);
}

.webcard:hover {
  position: relative;
  bottom: 3px;
  background-color: orange;
  box-shadow: 5px 5px 10px 0px rgba(200, 200, 200, 0.75);
}

/* 响应式设计 */
@media screen and (max-width: 768px) {
  h1 {
    margin-left: 20%;
  }
  nav ul {
    display: none;
  }
  .search {
    width: 350px;
    margin-top: 200px;
    margin-bottom: 50px;
  }
  #searchButton {
    font-size: 15px;
  }
  .listTop {
    display: none;
  }
 h2 {
  margin-left: 37%;
 }
 .webcard {
  width: 140px;
  margin: 5px;
  padding: 10px;
 }
 .webname {
  font-size: 18px;
 }
 footer {
  font-size: 12px;
 }


}